@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
}

.active {
    background-color: #18BA51;
    color: black;
}

.inactive {
    background-color: gray;
    color: black;
}